body{
    font-family: HM Sans Regular,HMSansHebrew-Regular,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,sans-serif;
    font-weight: 400;
    text-transform: none;
    background-color: #faf9f8;
    color: #222;
}

.nav-all{
    position: relative;
}
button{
    font-size: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header-left{
    float: left;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 20px;
}

.header-right{
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    position: absolute;
    top: 5px;
    right: 10px;
    bottom: 20px;
}
.header-jump{
    margin: 10px;
}

.nav-section{
    display: flex;
    justify-content: center;
    padding-top: 24px
}

.list{
    display: grid;
    grid-template-columns: 10fr 1fr;
    align-items: end;
    position: relative;
    right: 50%;
    -webkit-transform: translateX(62.8%);
    transform: translateX(62.8%);
    min-height: 33px;
    z-index: 1003;
}

.menu-list{
    text-align: center;
    position: relative;
    list-style: none;
}