body{
    font-weight: 400;
    text-transform: none;
    background-color: #faf9f8;
    color: #222;
}

.nav-all{
    position: relative;
}
button{
    font-size: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header-left{
    float: left;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 20px;
}

.header-right{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 10px;
    bottom: 20px;
}
.header-jump{
    margin: 10px;
}

.nav-section{
    display: flex;
    justify-content: center;
    padding-top: 24px;
}

ul{
    list-style: none;
    padding: 20px;
}
li{
    float: left;
    margin: 10px;
    cursor: pointer;
}

.list{
    display: flex;
    justify-content: center;
}

.menu-list{
    padding: 13px
}