body{
  font-family: sans-serif;
}
.nav-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  
}

.nav-header * {
  margin-right: 10px;
  margin-top: 20px;
}
.menu{
  display: flex;
  list-style-type: none;
  padding: 20px;
}
.menu li a{
  text-decoration: none;
  color:black;
  margin-left:20px;
}

.nav-logo{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.nav-menu-area{
  display: flex;
  justify-content: center;
}
.burger-menu{
  margin-left: 20px;
}

.landing-search-box{
  right: 20px;
  position: absolute;

}
.search-box{
  border-bottom: 1px solid black;
  /* position: absolute; */
  padding: 5px;
}
.search-box input{
  border:none;
  margin-left:5px;
}
.search-box input:focus {
  outline:none
}

.card{
  border:none !important;
  margin-bottom: 10px;
}

.choice{
  font-size:11px;
  color: #63786a;
  font-weight: bold;
  height: 20px;
}

.new-product {
  font-size: 11px;
  height: 20px;
}
.login-form{
  width:40em;
}
.login-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.error-message{
  text-align: left;
  width: 40em;
}
.form-control:valid {
  background-color:  white !important;
}

.product-detail-img{
  display: flex;
  justify-content: flex-end;
}
.product-info{
  font-size: 20px;
  margin-bottom: 10px;
}
.drop-down{
  margin-top:20px;
}

.add-button{
  margin-top:20px;
  width: 100%;
}

.card:hover{
  transform: scale(1.1);
  z-index: 1;
}
.hide{
  visibility:hidden
}

@media screen and (max-width: 63rem) {
  .hide {
    visibility:visible;
  }
  .menu {
    display: none;
  }
  .search-box{
    display: none;
  }
}

.side-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: burlywood;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index:2
}
.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: beige;
  border-radius: 3px;
} 

.sidebar {
  /* position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  background-color: red;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
}
#sidebar-wrapper{
  min-height: 100vh !important;
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
   /* width: 100vw; */
 /* margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out; */
}
.sidebar-item{
  color:white;
  font-weight: bold;
  background-color: red;
  padding: 20px 10px;
}
.sidebar-item:hover{
  color:red;
  background-color: white;
  font-weight: bold;
}
/* #sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
} */