body{
  background: url(https://t4.ftcdn.net/jpg/04/61/23/23/360_F_461232389_XCYvca9n9P437nm3FrCsEIapG4SrhufP.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100%
}